@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{

    font-family: 'Roboto', sans-serif;
}
body{
    margin:auto;
}

.clock{

    font-size:5em
}
table{
    margin-top: 50px;
    width:40%
}